<!DOCTYPE html>
<html>
  <head>
    <title>Game-Review</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.js" integrity="sha512-QLAUYcnE+TzNuEdbLs0lZMNil3yinJT2lEtxhLOa2JhKfUJzsLxPcnV///PcwwY0xRPsMHS39iyOjw5hJKWl6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body class="d-flex flex-column vh-100">
        <div class="wrapper">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3 text-dark" href="/">Game-Review</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "一覧", reviews_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, class: "nav-link text-dark" , method: :delete %>
            <li class="nav-item">
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "Home", admin_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Review", admin_reviews_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "User", admin_users_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_admin_session_path, class: "nav-link text-dark" , method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "guest Login", users_guest_sign_in_path, class: "nav-link text-dark", method: :post %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Admin Login", new_admin_session_path, class: "nav-link text-dark" %>
            </li>
          <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="p-5">
    <%= yield %>
    </main>
    <footer class="fixed-bottom bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
      <p class="footer-text">DMM WEBCAMP</p>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </body>
</html>
